In [1]:
import pandas as pd
import sqlalchemy as sql
import numpy as np
from sqlalchemy import create_engine

In [2]:
fname='Resources\country-and-continent-codes-list.csv'
df = pd.read_csv(fname)
df

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0
...,...,...,...,...,...,...
257,Africa,AF,"Zambia, Republic of",ZM,ZMB,894.0
258,Oceania,OC,Disputed Territory,XX,NaN,NaN
259,Asia,AS,Iraq-Saudi Arabia Neutral Zone,XE,NaN,NaN
260,Asia,AS,United Nations Neutral Zone,XD,NaN,NaN
261,Asia,AS,Spratly Islands,XS,NaN,NaN

In [3]:
df_country = df.groupby('Country_Name').count().sort_values('Continent_Name', ascending=False)
df_country

,Continent_Name,Continent_Code,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
Country_Name,,,,,
"Armenia, Republic of",2,2,2,2,2
"Cyprus, Republic of",2,2,2,2,2
"Turkey, Republic of",2,2,2,2,2
United States Minor Outlying Islands,2,1,2,2,2
"Kazakhstan, Republic of",2,2,2,2,2
...,...,...,...,...,...
"Guernsey, Bailiwick of",1,1,1,1,1
"Guinea, Republic of",1,1,1,1,1
"Guinea-Bissau, Republic of",1,1,1,1,1
"Guyana, Co-operative Republic of",1,1,1,1,1
Åland Islands,1,1,1,1,1

Clean duplicate country that belongs to two continents, i.e., Eurasia.

In [4]:
clean_df = df.drop_duplicates(subset='Country_Name', keep='first')
clean_df

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0
...,...,...,...,...,...,...
257,Africa,AF,"Zambia, Republic of",ZM,ZMB,894.0
258,Oceania,OC,Disputed Territory,XX,NaN,NaN
259,Asia,AS,Iraq-Saudi Arabia Neutral Zone,XE,NaN,NaN
260,Asia,AS,United Nations Neutral Zone,XD,NaN,NaN
261,Asia,AS,Spratly Islands,XS,NaN,NaN

Create Country Id

In [5]:
clean_df['Id'] = np.arange(1,len(clean_df)+1).tolist()

<ipython-input-5-05b434caf9b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Id'] = np.arange(1,len(clean_df)+1).tolist()

In [6]:
country_code_df = clean_df[['Id','Country_Name', 'Continent_Name', 'Two_Letter_Country_Code']]
country_code_df.columns=['Id','Country_Name', 'Continent_Name', 'Country_Code']
country_code_df.head()

,Id,Country_Name,Continent_Name,Country_Code
0,1,"Afghanistan, Islamic Republic of",Asia,AF
1,2,"Albania, Republic of",Europe,AL
2,3,Antarctica (the territory South of 60 deg S),Antarctica,AQ
3,4,"Algeria, People's Democratic Republic of",Africa,DZ
4,5,American Samoa,Oceania,AS

Connect to local database

In [7]:
from config import username, password
import psycopg2
engine = create_engine(f"postgresql://{username}:{password}@localhost/esports_db")
# conn = engine.connect()

In [8]:
engine.table_names()

<ipython-input-8-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['team_earning', 'genre_earning', 'game_earning', 'prize_year', 'country_code']

In [9]:
country_code_df.to_sql(name='country_code', con=engine, if_exists='replace', index=False)

Confirm data has been added by querying the customer_name table

In [10]:
pd.read_sql_query('select * from country_code', con=engine).head()

,Id,Country_Name,Continent_Name,Country_Code
0,1,"Afghanistan, Islamic Republic of",Asia,AF
1,2,"Albania, Republic of",Europe,AL
2,3,Antarctica (the territory South of 60 deg S),Antarctica,AQ
3,4,"Algeria, People's Democratic Republic of",Africa,DZ
4,5,American Samoa,Oceania,AS